:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg-default: #ffffff;
  --bg-body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --mobile-layout-padding: 15px;
  --Desktop-layout-padding: 54px;
  --tablet-layout-padding: 25px;
  --shadow: #dddddd;
  --mix-secondary-primary: #06869d;
  --mix-body-text-lines-color: #737373;
}

body {
  background-color: var(--bg-body);
  padding-bottom: 40px;
}
input {
  padding: 0;
}

* {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: var(--mobile-layout-padding);
  padding-right: var(--mobile-layout-padding);
  background-color: var(--bg-default);
}

h1 {
  color: var(--brand-primary);
  font-size: 0.94rem;
  font-weight: 700;
  margin-top: 5px;
}

header .icons {
  display: flex;
  justify-content: space-between;
  width: 73px;
}

.icon-button {
  background-color: var(--bg-default);
  border-radius: 20%;
  text-align: center;
  border: 1px solid var(--lines-color);
  width: 35px;
  height: 25px;
  padding-top: 5px;
}

.button-label {
  display: none;
}

ion-icon {
  font-size: 14px;
  color: var(--body-text);
}

.colorful-bar {
  height: 25px;
  position: relative;
  background-color: var(--bg-default);
}

.container {
  padding: 0;
}

.left-colorful-bar {
  height: 100%;
  position: absolute;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-size: 100% 100%;
  clip-path: polygon(0% 0%, 0% 100%, 120% 0%);
  z-index: 1;
}

.right-colorful-bar {
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: var(--brand-secondary);
  clip-path: polygon(100% 0%, 100% 100%, -20% 0%);
}

.welcome {
  display: flex;
  flex-direction: column;
  padding-left: var(--mobile-layout-padding);
  padding-right: 20px;
  padding-top: 4px;
  z-index: 1;
}

header + section {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-default);
  padding-bottom: 18px;
}

h6 {
  font-size: 1.3rem;
  font-weight: 800;
  margin: 8px 10px 0px 0px !important;
  line-height: 0.8;
}

p {
  margin-right: 5px;
  font-weight: 200;
  font-size: 1rem;
  margin-top: 0;
  color: var(--body-text);
}

.search-bar {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-top: 20px;
  background-color: var(--bg-default);
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 6px 0px var(--shadow);
  position: relative;
}

.search-input {
  width: 100%;
  height: 45%;
  border-width: 0 0 1px 0;
  border-color: var(--lines-color);
  border-radius: 8px 8px 0 0;
  color: var(--mix-body-text-lines-color);
  font-weight: 400;
  font-size: 0.95rem;
  background-color: var(--bg-default);
}

.search-select-container {
  display: flex;
  width: 100%;
  height: 55%;
  position: relative;
}

.search-select {
  background-color: var(--bg-default);
  padding-left: 10px;
  box-sizing: border-box;
  color: var(--body-text);
  font-size: 0.9em;
}

.search-select-1 {
  width: 50%;
  border-width: 0 1px 0 0;
  border-color: var(--lines-color);
  border-radius: 0 0 0 8px;
}

.search-select-2 {
  width: 50%;
  border-width: 0;
  border-radius: 0 0 8px 0;
}

.search-icon {
  top: 15px;
  left: 10px;
  position: absolute;
  font-size: 15px;
}

.select-labels {
  position: absolute;
  top: 5px;
  padding-left: 14px;
  font-size: 0.7em;
  color: var(--body-text);
}

.select-label-filter {
  left: 50%;
}

.card-content:nth-child(1) {
  width: 100%;
  height: 125px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px 8px 0 0;
}

.card {
  border: 0;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px var(--shadow);
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

.card-content:nth-child(2) {
  padding-left: 15px;
  background-color: var(--bg-default);
}

.card-info:nth-child(1) {
  margin-top: 15px;
}

.card-info:nth-child(3) {
  margin-left: 5px;
  margin-top: 25px;
}

.card-info:nth-child(4) {
  margin-top: 8px;
}

h3 {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--body-text);
}

h4 {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--body-text);
}

h3,
h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(95%);
  overflow: hidden;
}

h5 {
  color: grey;
  font-size: 0.8rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  color: var(--body-text);
  margin-top: 20px;
  font-weight: 800;
}

.star {
  color: #dea600;
  margin-left: -5px;
  font-size: 15px;
}

.favourites {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 178px;
  background-color: var(--bg-default);
  padding-left: var(--mobile-layout-padding);
  padding-right: var(--mobile-layout-padding);
  box-shadow: 0px 0px 6px 0px var(--shadow);
  z-index: 1;
  transition: bottom 0.8s;
  bottom: -178px;
}

.favourites div {
  margin-top: 5px;
}

.favourites > h4 {
  font-size: 1rem;
  margin-top: 15px;
}

.favourites .grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  row-gap: 20px;
  column-gap: 15px;
}

.small-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 7px 0px var(--shadow);
  border-radius: 3px 3px 3px 3px;
  padding-bottom: 2px;
}

.small-card-content:nth-child(1) {
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
  background-position: center;
  margin-top: 0;
}

.small-card-content:nth-child(2) {
  padding-left: 10px;
}

.small-card .rating {
  margin-top: 0;
  margin-left: 5px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  color: var(--body-text);
}

.heart-icon {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 25px;
  color: var(--heart-color);
}

@media only screen and (min-width: 500px) {
  .favourites {
    align-items: flex-start;
  }

  .favourites .grid {
    grid-template-columns: repeat(auto-fill, 120px);
  }

  .welcome {
    align-self: center;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 900px) {
  /* .card {
    width: 30%;
    margin-top: 9px;
  } */

  h1 {
    color: var(--brand-primary);
    font-size: 1rem;
    font-weight: 700;
  }

  h3 {
    font-size: 0.82rem;
  }

  h4 {
    font-size: 0.9rem;
    font-weight: 700;
  }

  header {
    padding-left: var(--tablet-layout-padding);
    padding-right: var(--tablet-layout-padding);
  }

  header .icons {
    width: 231px;
  }

  .icon-button {
    border-radius: 5px;
    width: 113px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .icon-button ion-icon {
    margin-right: 5px;
    font-size: 15px;
  }

  .button-label {
    display: inline;
    font-size: 0.93rem;
    cursor: pointer;
    color: var(--body-text);
  }

  .favourites {
    padding-left: var(--tablet-layout-padding);
    padding-right: var(--tablet-layout-padding);
  }

  .search-bar {
    flex-direction: row;
    height: 45px;
  }

  .search-input {
    height: 100%;
    width: 70%;
    border-radius: 10px 0 0 10px;
    border-width: 0 1px 0 0;
  }

  .search-select-container {
    width: 30%;
  }

  .search-select {
    padding-top: 20px;
    height: 40px;
    width: 50%;
  }

  .search-select-1 {
    border-radius: 0;
  }

  .search-select-2 {
    border-radius: 0 10px 10px 0;
  }

  .search-icon {
    top: 15px;
  }
}

/* big Screens */

@media only screen and (min-width: 1200px) {
  header {
    padding-left: var(--Desktop-layout-padding);
    padding-right: var(--Desktop-layout-padding);
  }

  .welcome {
    margin-top: -20px;
  }

  .colorful-bar {
    height: 67px;
  }

  .left-colorful-bar {
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
  }

  .right-colorful-bar {
    clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
  }

  .card-content:nth-child(1) {
    height: 135px;
  }

  .favourites {
    padding-left: var(--Desktop-layout-padding);
    padding-right: var(--Desktop-layout-padding);
  }
}
