.container {
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px var(--shadow);
}

.image {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.info {
  padding: 15px;
  background-color: #ffffff;
}

.topic {
  display: inline;
  color: #333333;
}

.info span {
  color: var(--body-text);
  color: #333333;
}

.author {
  text-decoration: underline;
  color: var(--brand-primary);
  margin: 0;
}

.author:active {
  color: red;
}

.author:visited {
  color: blue;
}

.box {
  border: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 15px;
}

.box > div {
  color: #333333;
  font-size: 1rem;
}

.button {
  width: 100%;
  border-radius: 0;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  margin-top: 10px;
  height: auto;
  border: 1px solid #dddddd;
  cursor: pointer;
}

.button-add {
  background-color: var(--brand-secondary);
}

.button-remove {
  background-color: var(--heart-color);
}

.action {
  font-size: 1.3rem;
  color: var(--body-text-dark);
  margin-right: 5px;
  cursor: pointer;
}

.big-icon-button .icon {
  font-size: 32px;
  color: var(--body-text-dark);
  margin-left: 5px;
}

.box h5 {
  align-self: center;
  margin-top: 10px;
}

@media only screen and (max-width: 420px) {
  .button-remove {
    align-items: center;
    padding-right: 50px;
  }
}

@media only screen and (min-width: 900px) {
  .button-remove {
    align-items: center;
    padding-right: 50px;
  }
}
