.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg-body);
  padding-left: var(--mobile-layout-padding);
  padding-right: var(--mobile-layout-padding);
}

h2 {
  font-size: 1.5rem;
  color: var(--body-text);
  margin-top: 20px;
  font-weight: 800;
}

.grid {
  width: 100%;
  display: grid;
  row-gap: 28px;
  column-gap: 30px;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  margin-top: 30px;
}

.loading {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 900px) {
  .container {
    padding-left: var(--tablet-layout-padding);
    padding-right: var(--tablet-layout-padding);
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding-left: var(--Desktop-layout-padding);
    padding-right: var(--Desktop-layout-padding);
  }
}
