body {
  background-color: var(--bg-body);
}

input {
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: var(--mobile-layout-padding);
  padding-right: var(--mobile-layout-padding);
  background-color: var(--bg-default);
}

header .icons {
  display: flex;
  justify-content: space-between;
  width: 73px;
}

@media only screen and (min-width: 900px) {
  header .icons {
    width: 231px;
  }

  header {
    padding-left: var(--tablet-layout-padding);
    padding-right: var(--tablet-layout-padding);
  }
}

@media only screen and (min-width: 1200px) {
  header {
    padding-left: var(--Desktop-layout-padding);
    padding-right: var(--Desktop-layout-padding);
  }
}
