.cards-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  gap: 20px;
}

@media only screen and (min-width: 500px) {
  .cards-grid {
    width: 100%;
    display: grid;
    row-gap: 28px;
    column-gap: 30px;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
}
