.icon-button {
  background-color: var(--bg-default);
  border-radius: 20%;
  text-align: center;
  border: 1px solid var(--lines-color);
  width: 35px;
  height: 25px;
  padding-top: 5px;
}

@media only screen and (min-width: 900px) {
  .icon-button {
    border-radius: 5px;
    width: 113px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
  }

  .button-label {
    display: inline;
    font-size: 0.93rem;
    cursor: pointer;
    color: var(--body-text);
    margin-left: 5px;
  }
}
