.icon-button {
  background-color: var(--bg-default);
  border-radius: 20%;
  text-align: center;
  border: 1px solid var(--lines-color);
  width: 35px;
  height: 25px;
  padding-top: 5px;
}

/* .button-label {
  display: none;
} */

@media only screen and (min-width: 900px) {
  .icon-button {
    border-radius: 5px;
    width: 113px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
