.card {
  width: 400px;
  margin-top: 50px;
}

@media only screen and (max-width: 500px) {
  .card {
    width: 95%;
  }
}

@media only screen and (min-width: 900px) {
  .card {
    width: 320px;
    right: 6%;
    top: 26px;
    position: absolute;
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .card {
    right: 15%;
  }
}

@media only screen and (min-width: 1400px) {
  .card {
    right: 19%;
  }
}
