h1 {
  font-size: 1.2rem;
}

.details {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 0;
}

.details-main-content:nth-child(1) {
  background-color: var(--details-dark-section);
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-main-content:nth-child(2) {
  align-self: center;
  margin-top: 10px;
  border-radius: 0;
  background-color: var(--bg-default);
  padding: 0 2px 0 2px;
}

.details p {
  font-size: 1rem;
  font-weight: 700;
  color: var(--body-text-dark);
  margin-top: 15px;
  width: auto;
  padding-right: 40px;
  padding-left: 40px;
}

.details h3 {
  color: var(--brand-secondary);
  font-size: 1rem;
  font-weight: 700;
  align-self: center;
  width: auto;
}

.details h2 {
  color: var(--body-text-dark);
  margin-top: 20px;
}

/* .main-content .rating {
    margin-left: 5px;
  } */

details .card {
  width: 400px;
  margin-top: 50px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px var(--shadow);
}

.details h4 {
  display: inline;
  color: #333333;
}

table {
  background-color: var(--bg-default);
  border: 1px solid var(--lines-color);
  width: 400px;
  margin-top: 50px;
  border-radius: 5px 5px 5px 5px;
  margin-left: 0;
}

tr:nth-child(1) td {
  border-top-width: 0;
  font-size: 1.6rem;
  font-weight: 700;
}

td {
  display: flex;
  align-items: center;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: var(--lines-color);
  padding: 15px 0px 15px 30px;
  color: var(--body-text);
  font-size: 1rem;
}

td ion-icon {
  font-size: 24px;
  color: var(--brand-secondary);
  margin-right: 15px;
}

@media only screen and (max-width: 500px) {
  table {
    width: 95%;
  }
}

@media only screen and (min-width: 900px) {
  .details-card {
    right: 6%;
    top: 26px;
    position: absolute;
    margin: 0;
  }

  .details-main-content:nth-child(1),
  .details {
    align-items: start;
  }

  .details-main-content:nth-child(1) {
    padding: 30px 3% 30px 19%;
  }

  .details table {
    margin-left: 19%;
    width: 37%;
    margin-top: 30px;
  }

  .details h3 {
    width: calc(95%);
    align-self: self-start;
  }

  .details h2 {
    margin-top: 1px;
  }

  /* .big-icon-button ion-icon {
    margin: 0;
  } */

  .details p {
    width: 48%;
    padding: 0;
  }
}
